html,
body {
    height: 100%;
    width: 100%;
}

.main-heading {
    font-size: 50px;
    margin-bottom: 20px;
}

.index-buttons-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}